<span *ngIf="task.subTasks.length > 0">
    <label title="Click to toggle subtask display" class="betterToggle" >
      <input type="checkbox" (click)="onToggleOpen()" [checked]="task.isOpen" />
     <span></span>
    </label>
</span>

<span *ngIf="task.subTasks.length === 0">
  <span class="spacer"> </span>
</span>

<label *ngIf="belongsToCurrentUser === true" title="Click to toggle completion status" class="betterBox" >
  <input type="checkbox" (click)="onToggleComplete()"  [checked]="task.complete"/>
  <span></span>
</label>

<span *ngIf="belongsToCurrentUser === false">
  <span class="spacer"> </span>
</span>

<a class="description" [ngClass]="task.complete ? 'crossed-out': 'regular-text'" title="Task description (click to change)" (click)="onStartEditTask()">{{task.title}}</a>

<br/>
<span class="owner-prompt">For: </span>
<span *ngIf="users.length === 1" class="owner-name">{{task.user.fullName}}</span>
<a *ngIf="users.length > 1" class="owner-name" (click)="onStartEditTask()">{{task.user.fullName}}</a>

<ul *ngIf="task.isOpen === true">
  <li class="subTask" *ngFor="let subTask of task.subTasks">
    <app-subtask [task]="task" [subTask]="subTask" [allowEdit]="false" (SubTaskToggleState)="checkIfTaskComplete()" (TaskEditRequest)="onEditRequest()"></app-subtask>
  </li>
</ul>


